/* 
.posts_container {
	display: flex;
	justify-content: space-around;
	/* margin: 8% 5%; */
	/* flex-wrap: wrap;
   background: url('../../../../public/images/intro.jpg');
	 width: 100%; */
    /* background-attachment: fixed;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; */
    /* -moz-background-size: 100%; /* Firefox 3.6+ */
    /* -webkit-background-size: 100%; Safari 3.1+ и Chrome 4.0+ */
    /* -o-background-size: 100%; Opera 9.6+ */
    /* background-size: 100%;  */
		/* flex-wrap: wrap;  */

/* } */ 
.posts_container {
	margin: 8% 0%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
}
.empty {
	height: 70vh;
	font-size: 30px;
	font-style:italic;
	color: gray;
}