
.three_parallax {
    background: url('../../../../public/images/intro11.jpg');
    background-attachment: fixed;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; 
}

.three_parallax h1 {
  color: #ffffff;
  font-size: 40px;
}

h3 {
color: #ffffff;
font-size: 20px;
}

.main_text {
margin-left: 100px;
}


.three_parallax .one-mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.three_text_parallax {
  z-index: 0;
  margin-right: 800px;
}
.three_page_content {
  padding: 100px 50px;
}

/* NEXT IMAGES */
.six_parallax {
  background: url('../../../../public/images/intro14.jpg');
  background-attachment: fixed;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%; 
}

.six_parallax h1 {
color: #ffffff;
font-size: 40px;
}

h3 {
color: #ffffff;
font-size: 20px;
}

.main_text {
margin-left: 100px;
}


.six_parallax .one-mask {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
z-index: 2;
}
.six_text_parallax {
z-index: 0;
margin-right: 800px;
}
.six_page_content {
padding: 100px 50px;
}

/* NEXT IMAGES */
.seven_parallax {
  background: url('../../../../public/images/intro15.jpg');
  background-attachment: fixed;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%; 
}

.seven_parallax h1 {
color: #ffffff;
font-size: 40px;
}

h3 {
color: #ffffff;
font-size: 20px;
}

.main_text {
margin-left: 100px;
}


.seven_parallax .one-mask {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
z-index: 2;
}
.seven_text_parallax {
z-index: 0;
margin-right: 800px;
}
.seven_page_content {
padding: 100px 50px;
}


/* NEXT IMAGES */
.eight_parallax {
  background: url('../../../../public/images/intro16.jpg');
  background-attachment: fixed;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%; 
}

.eight_parallax h1 {
color: #ffffff;
font-size: 40px;
}

.eight_parallax .one-mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  }

  /* NEXT IMAGES */
.nine_parallax {
  background: url('../../../../public/images/intro24.jpg');
  background-attachment: fixed;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%; 
}

.nine_parallax h1 {
color: #ffffff;
font-size: 40px;
}

.nine_parallax .one-mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  }

    /* NEXT IMAGES */
.ten_parallax {
  background: url('../../../../public/images/intro30.jpg');
  background-attachment: fixed;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%; 
}

.ten_parallax h1 {
color: #ffffff;
font-size: 40px;
}

.ten_parallax .one-mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  }
