.cart_modal_container {
  width: 100%;
  height: 100vh;

  background: 
  url('../../../public/images/intro.jpg') center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.section_cart {
    padding: 70px 0 90px;
}

.section-cart__header {
    margin-bottom: 40px;
    text-align: center;
}
